.panel-default {
    width: 150px;
}

#root {
    position: absolute;
    left: 50%;
}

/*.tree ul {*/
    /*padding-top: 20px; position: relative;*/
    /*float: inherit;*/
    /*transition: all 0.5s;*/
    /*-webkit-transition: all 0.5s;*/
    /*-moz-transition: all 0.5s;*/
/*}*/

/*.tree li {*/
    /*text-align: center;*/
    /*list-style-type: none;*/
    /*position: relative;*/
    /*padding: 20px 5px 0 5px;*/
    /*display: -webkit-box;*/
    /*transition: all 0.5s;*/
    /*-webkit-transition: all 0.5s;*/
    /*-moz-transition: all 0.5s;*/
/*}*/


body {
    background:white;
    font:normal normal 13px/1.4 Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
    padding:50px;
}


.tree,
.tree ul {
    margin:0 0 0 1em; /* indentation */
    list-style:none;
    color:#369;
    position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}

.tree li {
    margin:0;
    padding:0 1.5em; /* indentation + .5em */
    line-height:2em; /* default list item's `line-height` */
    font-weight:bold;
    position:relative;
}






